body {
    background: linear-gradient(to right, #ff0000, #0019FF);
}
a {
    font-size:6vw;
    margin: 0vw auto;
    text-decoration:none;
}
h1 {
    font-size:12vw;
    margin: 0vw auto;
}
p {
    font-size:8vw;
}